<h1>Bienvenue sur l'accueil <% if user_signed_in? %><%= current_user.username %> !<%end %></h1>
<% if !user_signed_in? %>
  <%= link_to("inscription", new_user_registration_path) %>
  <%= link_to("connexion", new_user_session_path) %>
<% else %>
  <%= link_to("déconnexion", destroy_user_session_path, method: 'delete') %>
<% end %>